@model Voorbeeld.WebApplication.Models.Voorbeeld3.SelectStripAndArticles
@{
    ViewData["Title"] = "StripViewer";
}

<h2>Strip via MVC method call</h2>

<form asp-action="Index" asp-controller="Voorbeeld3" method="post" >
    <div class="form-group col-12 row formcontainer">
        <label class="col-2 col-form-label">StripId</label>
        <input type="number" name="stripid" value=@Model.StripId class="form-control col-3" />
        <input type="submit" class="btn btn-success col ml-1" value="Get" />
        <input type="submit" class="btn btn-success col ml-1" name="action" value="Previous" />
        <input type="submit" class="btn btn-success col ml-1" name="action" value="Next" />
    </div>
</form>
<style>
    .formcontainer {
    width: 832px !important;
}

.selected{
    background-color:greenyellow;
}

</style>

<div class="form-group col-12 row formcontainer">
    <label class="col-2 col-form-label">Selected Art:</label>
    <input id="selectedarticle" class="form-control col-3">
</div>

<strip-viewer stripid="@Model.StripId" onselected="showselected" ></strip-viewer>


<div id="article-grid" style="width:800px">

    <table id="art-table" class="table table-sm table-hover table-bordered mt-2">
        <thead>
            <tr>
                <td>
                    Placeholder
                </td>
                <td>
                    supplierArticleName
                </td>
                <td>
                    SupplierId
                </td>
                <td>
                    SupplierName
                </td>
                <td>
                    NrInImage
                </td>
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model.SupplierArticles)
{
            <tr>
                <td>
                    @item.Placeholder
                </td>
                <td>
                    @item.SupplierArticleName
                </td>
                <td>
                    @item.SupplierId
                </td>
                <td>
                    @item.SupplierName
                </td>
                <td>
                    @item.NrInImage
                </td>
            </tr>
}
        </tbody>
    </table>

</div>




@section scripts
{
    <script>

        document.querySelector('strip-viewer').webresponse = true;
        const demoEventElement = document.getElementsByTagName('strip-viewer')[0];
        demoEventElement.addEventListener('onselected', (event) => {
            console.info('[Event]', event.detail[0]);
            document.getElementById('selectedarticle').innerHTML = event.detail[0];
            showselected(event.detail[0])
        })

        function showselected(waarde) {

            document.getElementById('selectedarticle').value = waarde;

            var table = document.getElementById('art-table');
            for (var i = 1; i < table.rows.length; i++) {

                console.log(table.rows[i].cells[0].innerText + ' <=> ' + waarde);

                if (table.rows[i].cells[0].innerText == waarde) {
                    table.rows[i].cells[0].parentElement.setAttribute("class", "selected");
                    console.log(waarde + ' gevonden');
                }
                else {
                    table.rows[i].cells[0].parentElement.setAttribute("class", "");
                }
            }
        }

    </script>
}